.team-wrapper {
  height: 100%;
  width: 100%;
  padding: 1em;
  color: #fff;
  text-align: center; }
  .team-wrapper h1,
  .team-wrapper h2,
  .team-wrapper h3,
  .team-wrapper h4,
  .team-wrapper h5,
  .team-wrapper h6 {
    margin: 0;
    padding: 0; }
  .team-wrapper .header {
    padding: 2em 1em 0 1em; }
    .team-wrapper .header h1:first-child {
      margin-bottom: 1em; }
  .team-wrapper .teamRoster {
    width: 100%; }
    .team-wrapper .teamRoster h1 {
      text-align: center;
      font-size: 3em;
      margin: 0;
      padding: 8px; }
    .team-wrapper .teamRoster .listItem {
      height: 80px;
      width: 100%;
      position: relative; }
      .team-wrapper .teamRoster .listItem .item-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.596);
        text-align: center;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        color: rgba(255, 255, 255, 0.5); }
      .team-wrapper .teamRoster .listItem .team-member {
        border: 1px solid rgba(255, 255, 255, 0.12);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #070912;
        z-index: 5;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease; }
  .team-wrapper .controls {
    width: 100%;
    text-align: center; }
    .team-wrapper .controls h1 {
      margin-bottom: 1em; }
    .team-wrapper .controls form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em; }
      .team-wrapper .controls form input {
        display: block; }
      .team-wrapper .controls form button {
        border: 1px solid #fff;
        margin: 2em 0; }
