.playerListDisplay {
  display: flex;
  width: 100vw;
  height: auto;
  background: linear-gradient(#03091f, #1c2957, #03091f);
  color: #fff;
  font-family: "Trebuchet MS";
  justify-content: center; }
  .playerListDisplay button {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    z-index: 10; }
  .playerListDisplay .tableContainer {
    border-collapse: collapse;
    margin-right: 5vw; }
    .playerListDisplay .tableContainer .avatarColor {
      background-color: #cdb87c; }
    .playerListDisplay .tableContainer td, .playerListDisplay .tableContainer th {
      text-align: center; }
    .playerListDisplay .tableContainer th:not(:first-child) {
      font-size: 20px;
      border-bottom: 3px solid #cdb87c; }
    .playerListDisplay .tableContainer th:first-child {
      padding-top: 1em;
      padding-bottom: 1em; }
    .playerListDisplay .tableContainer th:not(:last-child), .playerListDisplay .tableContainer td:not(:first-child) {
      padding-right: 5vw; }
    .playerListDisplay .tableContainer td:not(:first-child) {
      border-top: 1px solid #cdb87c;
      border-bottom: 1px solid #cdb87c;
      margin-top: 2em;
      padding-top: 1em;
      padding-bottom: 1em; }
