.confirmationDisplay, .desktopConfirm, .mobileConfirm {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  color: #fff; }
  .confirmationDisplay .desktopConfirm, .desktopConfirm .desktopConfirm, .mobileConfirm .desktopConfirm {
    background: linear-gradient(#03091f, #1c2957, #03091f); }
    .confirmationDisplay .desktopConfirm .confirmMessage, .desktopConfirm .desktopConfirm .confirmMessage, .mobileConfirm .desktopConfirm .confirmMessage {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .confirmationDisplay .desktopConfirm .confirmMessage h1, .confirmationDisplay .desktopConfirm .confirmMessage h3, .confirmationDisplay .desktopConfirm .confirmMessage p, .desktopConfirm .desktopConfirm .confirmMessage h1, .desktopConfirm .desktopConfirm .confirmMessage h3, .desktopConfirm .desktopConfirm .confirmMessage p, .mobileConfirm .desktopConfirm .confirmMessage h1, .mobileConfirm .desktopConfirm .confirmMessage h3, .mobileConfirm .desktopConfirm .confirmMessage p {
        text-align: center; }
      .confirmationDisplay .desktopConfirm .confirmMessage .NGE .shinji img, .desktopConfirm .desktopConfirm .confirmMessage .NGE .shinji img, .mobileConfirm .desktopConfirm .confirmMessage .NGE .shinji img {
        display: flex; }
      .confirmationDisplay .desktopConfirm .confirmMessage .NGE .cookie, .desktopConfirm .desktopConfirm .confirmMessage .NGE .cookie, .mobileConfirm .desktopConfirm .confirmMessage .NGE .cookie {
        display: flex;
        margin-top: -45%;
        margin-left: 45%; }
        .confirmationDisplay .desktopConfirm .confirmMessage .NGE .cookie img, .desktopConfirm .desktopConfirm .confirmMessage .NGE .cookie img, .mobileConfirm .desktopConfirm .confirmMessage .NGE .cookie img {
          width: 5vw;
          height: 5vw; }
      .confirmationDisplay .desktopConfirm .confirmMessage .caption, .desktopConfirm .desktopConfirm .confirmMessage .caption, .mobileConfirm .desktopConfirm .confirmMessage .caption {
        margin-top: 30%; }
  .confirmationDisplay .mobileConfirm, .desktopConfirm .mobileConfirm, .mobileConfirm .mobileConfirm {
    background: linear-gradient(#08090d, #03091f); }
    .confirmationDisplay .mobileConfirm .confirmMessage, .desktopConfirm .mobileConfirm .confirmMessage, .mobileConfirm .mobileConfirm .confirmMessage {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .confirmationDisplay .mobileConfirm .confirmMessage h1, .confirmationDisplay .mobileConfirm .confirmMessage h3, .confirmationDisplay .mobileConfirm .confirmMessage p, .desktopConfirm .mobileConfirm .confirmMessage h1, .desktopConfirm .mobileConfirm .confirmMessage h3, .desktopConfirm .mobileConfirm .confirmMessage p, .mobileConfirm .mobileConfirm .confirmMessage h1, .mobileConfirm .mobileConfirm .confirmMessage h3, .mobileConfirm .mobileConfirm .confirmMessage p {
        text-align: center; }
      .confirmationDisplay .mobileConfirm .confirmMessage .NGE, .desktopConfirm .mobileConfirm .confirmMessage .NGE, .mobileConfirm .mobileConfirm .confirmMessage .NGE {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .confirmationDisplay .mobileConfirm .confirmMessage .NGE .shinji img, .desktopConfirm .mobileConfirm .confirmMessage .NGE .shinji img, .mobileConfirm .mobileConfirm .confirmMessage .NGE .shinji img {
          display: flex; }
        .confirmationDisplay .mobileConfirm .confirmMessage .NGE .cookie, .desktopConfirm .mobileConfirm .confirmMessage .NGE .cookie, .mobileConfirm .mobileConfirm .confirmMessage .NGE .cookie {
          display: flex;
          margin-top: -45%;
          margin-left: 3%; }
          .confirmationDisplay .mobileConfirm .confirmMessage .NGE .cookie img, .desktopConfirm .mobileConfirm .confirmMessage .NGE .cookie img, .mobileConfirm .mobileConfirm .confirmMessage .NGE .cookie img {
            width: 15vw;
            height: 15vw; }
      .confirmationDisplay .mobileConfirm .confirmMessage .caption, .desktopConfirm .mobileConfirm .confirmMessage .caption, .mobileConfirm .mobileConfirm .confirmMessage .caption {
        margin-top: 30%;
        font-size: 12px; }
