.confirmationDisplay, .desktopConfirm, .mobileConfirm {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  color: #fff;
  .desktopConfirm {
    background: linear-gradient(#03091f, #1c2957, #03091f);
    .confirmMessage {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1, h3, p { text-align: center; }
      .NGE {
        .shinji {
          img { display: flex; }
        }
        .cookie {
          display: flex;
          margin-top: -45%;
          margin-left: 45%;
          img {
            width: 5vw;
            height: 5vw;
          }
        }
      }
      .caption { margin-top: 30%; }
    }
  }
  .mobileConfirm {
    background: linear-gradient(#08090d, #03091f);
    .confirmMessage {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1, h3, p { text-align: center; }
      .NGE {
        display: flex;
        flex-direction: column;
        align-items: center;
        .shinji {
          img { display: flex; }
        }
        .cookie {
          display: flex;
          margin-top: -45%;
          margin-left: 3%;
          img {
            width: 15vw;
            height: 15vw;
          }
        }
      }
      .caption {
        margin-top: 30%;
        font-size: 12px;
      }
    }
  }
}
