.desktopDisplay {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  color: #fff;
  background: linear-gradient(#03091f, #1c2957, #03091f);
  // background-color: #1c2957;
  .logoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-family: "Verdana";
    width: 50%;
    img { width: 90%; margin-bottom: 0.5em; }
    .join {
      margin-top: 4em;
      margin-bottom: 0.75em;
      font-size: 20px;
      font-family: "Roboto";
    }
    .social {
      display: flex;
      font-size: 14px;
      margin-left: 3em;
      font-family: "Roboto";
      .facebook, .teamspeak, .discord, a:link, a:visited {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        color: #cdb87c;
        .TSlogo { background: url('../../src/assets/TSIconHover.svg') no-repeat; }
      }
      .FBinfo {
        margin-left: 0.5em;
        margin-right: 1em;
        margin-top: 0.2em;
      }
      .teamspeak {
        padding-top: 1em;
        padding-bottom: 1em;
        border-left: 3px solid #cdb87c;
        border-right: 3px solid #cdb87c;
        .TSlogo {
          height: 24px;
          width: 24px;
          margin-left: 1em;
          margin-right: 0.5em;
          background: url('../../src/assets/TSIcon.svg') no-repeat;
        }
      }
      .TSinfo { margin-right: 1em; }
      .DSlogo { margin-left: 1em; }
      .DSinfo { margin-left: 0.5em; }
    }
  }
  .formSide {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 15%;
    margin-top: 3em;
    .signUpForm {
      font-size: 12px;
      font-family: "Helvetica";
      padding: 3em;
      border-left: 3px solid #cdb87c;
      border-right: 3px solid #cdb87c;
      border-radius: 15%;
      .inputContainer {
        display: flex;
        align-items: center;
        .inputIcon {
          margin-left: 5%;
          margin-right: 1em;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          .iconType { margin-top: .2em; }
          .inputStatus {
            margin-bottom: 1.15em;
            .indicatorIcon {
              font-size: 12px;
              margin-top: 0.5em;
              color: #cdb87c;
            }
          }
        }
        .inputField { width: 80%; }
      }
      .nameForm, .ignForm, .emailForm {
        margin-bottom: 3em;
      }
      .textInfo {
        display: flex;
        justify-content: center;
        margin-top: -1em;
        margin-bottom: 1em;
      }
    }
    .CompletionDisplay {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      .buttonContainer {
        display: flex;
        margin-top: -0.5em;
        .resetIcon { margin-left: 0.5em; }
        .sendIcon { margin-left: 0.5em; }
        .submitButton {
          display: flex;
          align-items: center;
          .loading { margin-left: -3.1em; }
        }
      }
    }
  }
}
