.desktopDisplay {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  color: #fff;
  background: linear-gradient(#03091f, #1c2957, #03091f); }
  .desktopDisplay .logoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-family: "Verdana";
    width: 50%; }
    .desktopDisplay .logoArea img {
      width: 90%;
      margin-bottom: 0.5em; }
    .desktopDisplay .logoArea .join {
      margin-top: 4em;
      margin-bottom: 0.75em;
      font-size: 20px;
      font-family: "Roboto"; }
    .desktopDisplay .logoArea .social {
      display: flex;
      font-size: 14px;
      margin-left: 3em;
      font-family: "Roboto"; }
      .desktopDisplay .logoArea .social .facebook, .desktopDisplay .logoArea .social .teamspeak, .desktopDisplay .logoArea .social .discord, .desktopDisplay .logoArea .social a:link, .desktopDisplay .logoArea .social a:visited {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff; }
      .desktopDisplay .logoArea .social a:hover {
        color: #cdb87c; }
        .desktopDisplay .logoArea .social a:hover .TSlogo {
          background: url("../../src/assets/TSIconHover.svg") no-repeat; }
      .desktopDisplay .logoArea .social .FBinfo {
        margin-left: 0.5em;
        margin-right: 1em;
        margin-top: 0.2em; }
      .desktopDisplay .logoArea .social .teamspeak {
        padding-top: 1em;
        padding-bottom: 1em;
        border-left: 3px solid #cdb87c;
        border-right: 3px solid #cdb87c; }
        .desktopDisplay .logoArea .social .teamspeak .TSlogo {
          height: 24px;
          width: 24px;
          margin-left: 1em;
          margin-right: 0.5em;
          background: url("../../src/assets/TSIcon.svg") no-repeat; }
      .desktopDisplay .logoArea .social .TSinfo {
        margin-right: 1em; }
      .desktopDisplay .logoArea .social .DSlogo {
        margin-left: 1em; }
      .desktopDisplay .logoArea .social .DSinfo {
        margin-left: 0.5em; }
  .desktopDisplay .formSide {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 15%;
    margin-top: 3em; }
    .desktopDisplay .formSide .signUpForm {
      font-size: 12px;
      font-family: "Helvetica";
      padding: 3em;
      border-left: 3px solid #cdb87c;
      border-right: 3px solid #cdb87c;
      border-radius: 15%; }
      .desktopDisplay .formSide .signUpForm .inputContainer {
        display: flex;
        align-items: center; }
        .desktopDisplay .formSide .signUpForm .inputContainer .inputIcon {
          margin-left: 5%;
          margin-right: 1em;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column; }
          .desktopDisplay .formSide .signUpForm .inputContainer .inputIcon .iconType {
            margin-top: .2em; }
          .desktopDisplay .formSide .signUpForm .inputContainer .inputIcon .inputStatus {
            margin-bottom: 1.15em; }
            .desktopDisplay .formSide .signUpForm .inputContainer .inputIcon .inputStatus .indicatorIcon {
              font-size: 12px;
              margin-top: 0.5em;
              color: #cdb87c; }
        .desktopDisplay .formSide .signUpForm .inputContainer .inputField {
          width: 80%; }
      .desktopDisplay .formSide .signUpForm .nameForm, .desktopDisplay .formSide .signUpForm .ignForm, .desktopDisplay .formSide .signUpForm .emailForm {
        margin-bottom: 3em; }
      .desktopDisplay .formSide .signUpForm .textInfo {
        display: flex;
        justify-content: center;
        margin-top: -1em;
        margin-bottom: 1em; }
    .desktopDisplay .formSide .CompletionDisplay {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%; }
      .desktopDisplay .formSide .CompletionDisplay .buttonContainer {
        display: flex;
        margin-top: -0.5em; }
        .desktopDisplay .formSide .CompletionDisplay .buttonContainer .resetIcon {
          margin-left: 0.5em; }
        .desktopDisplay .formSide .CompletionDisplay .buttonContainer .sendIcon {
          margin-left: 0.5em; }
  .desktopDisplay .submitMsg {
    color: black; }
