.registerDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#08090d, #03091f);
  .main {
    display: flex;
    align-self: center;
    margin-top: -5em;
    width: auto;
    max-width: 100%;
    height: auto;
    animation: bounce 1s both;
    @keyframes bounce {
      0% {
        transform: scale(7);
        animation-timing-function: ease-in;
        opacity: 0;
      }
      38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 1;
      }
      55% {
        transform: scale(1.5);
        animation-timing-function: ease-in;
      }
      72% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
      81% {
        transform: scale(1.24);
        animation-timing-function: ease-in;
      }
      89% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
      95% {
        transform: scale(1.04);
        animation-timing-function: ease-in;
      }
      100% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
    }
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      animation: pulse 5s 1.5s ease-out infinite;
      @keyframes pulse {
        0%, 60%, 100% { opacity: 1; }
        70% { opacity: 0.5; }
      }
    }
  }
  .registrationSteps {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    animation:
      stretch 0.5s ease-out 1s both,
      curl 1s ease-out 1.5s both;
    @keyframes stretch {
      0% {
        transform: scaleX(0);
        opacity: 0;
      }
      100% {
        transform: scaleX(1);
        opacity: 1;
      }
    }
    @keyframes curl {
      0% {
        border-left: 3px solid #cdb87c;
        border-right: 3px solid #cdb87c;
      }
      100% {
        border-left: 3px solid #cdb87c;
        border-right: 3px solid #cdb87c;
        border-radius: 15%;
      }
    }
    form {
      width: 15em;
      margin-bottom: 1em;
    }
    .emailInfo {
      font-size: 12px;
      margin-bottom: 0.75em;
      color: #fff;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.46429em;
    }
    .actionsContainer {
      margin-top: 1em;
      .disappear { opacity: 0; }
    }
    .fieldIcon { margin-right: 0.5em; }
    .userInfo {
      font-size: 12px;
      color: #fff;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      display: flex;
      align-items: center;
    }
  }
  .CompletionDisplay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .infoBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -1em;
      .textInfo {
        font-size: 12px;
        margin-bottom: 0.75em;
        color: #fff;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        line-height: 1.46429em;
      }
      .textInfo2 {
        margin-top: -0.5em;
        color: #fff;
        font-family: "Helvetica";
        font-size: 12px;
      }
    }
    .completeButtons {
      display: flex;
      margin-top: 1em;
      .redoIcon { margin-right: 0.5em; }
      .resetIcon { margin-left: 0.5em; }
    }
    .sendButton {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 1em;
      margin-right: 10%;
      animation: pulsate 2s ease-in-out infinite both;
      @keyframes pulsate {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(0.95);
        }
        100% {
          transform: scale(1);
        }
      }
      .loading { margin-left: -3.1em; }
      .sendIcon { margin-left: 0.5em; }
    }
  }
}
