.registerDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    img {
      margin-top: 0.5em;
      margin-left: 0.05em;
      width: 100vw;
      object-fit: scale-down;
    }
  }
  .buttonLabel { margin-top: 0em; }
  .registrationSteps {
    margin: 5%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-left: 3px solid #cdb87c;
    border-right: 3px solid #cdb87c;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    form {
      width: 15em;
      margin-bottom: 1em;
      .emailInfo {
        font-size: 12px;
        margin-bottom: 0.75em;
      }
    }
    .actionsContainer {
      margin-top: 1em;
      .disappear { opacity: 0; }
    }
  }
  .CompletionDisplay {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    .doneInfo { width: 100%; }
    div {
      width: 80%;
      .reviewInfo {
        margin-top: 1.5em;
        .redoIcon { margin-right: 0.5em; }
      }
      .sendEmail {
        float: right;
        margin-top: 1em;
        .sendIcon { margin-left: 0.5em; }
      }
    }
  }
}
