.registerDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    img {
      margin-left: 0.1em;
      width: 100vw;
      object-fit: scale-down;
    }
  }

  .registrationSteps {
    margin-left: 10%;
    margin-top: 1em;
    .actionsContainer { margin-top: 2em; }
  }

  .CompletionDisplay {
    display: flex;
    justify-content: center;
    width: 100%;
    div { width: 80%; }
  }
}
