.main {
  display: flex;
  justify-content: center;
  img { margin-left: 0.1em; }
}

.registrationSteps {
  margin-left: 1em;
  margin-top: 1em;
  .actionsContainer {
    margin-top: 2em;
  }
}

.CompletionDisplay {
  display: flex;
  justify-content: center;;
}
