main {
  display: flex;
  justify-content: space-around;
  padding-left: 20vh; }
  main .main-left {
    width: 30%; }
  main .main-right {
    min-width: 40vw;
    min-height: 75vh;
    margin-right: 3vw;
    padding-top: 5vh; }
    main .main-right img {
      width: 100%;
      height: auto; }
